* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;
    color: darkcyan;
}

/* Utility */
.p_5 {
    padding: 0.5rem;
}

/* App */
.container {
    width: 90%;
    height: 90%;
    margin: 3rem auto;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(148, 208, 210);

    .email_list {
        color: rgb(1, 92, 92);
        width: 100%;
        background-color: rgb(171, 207, 209);
    }

    .generate {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .generate_btn {
        color: darkcyan;
        font-size: 0.9rem;
        padding: 0.5rem 0.7rem;
        border: 1px solid darkblue;
        border-radius: 0.5rem;
    }
    
}

